.contgridl {
  display: grid;
  grid-template-rows: repeat(15, 5vh);
  grid-template-columns: repeat(1, 5vh);
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 8rem;
}

.gridl-item {
  background: rgb(70, 65, 65);
  width: 300px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.gridl-item-yellow {
  background: rgb(237, 184, 9);
  color: black;
}

.gridl-item-blue {
  background: rgb(10, 220, 210);
  color: black;
}

.deleteScores {
  background: rgb(237, 184, 9);
  color: black;
  border-radius: 5px;
}

.start {
  background: rgb(10, 220, 210);
  color: black;
  border-radius: 5px;
}

.deleteScores:hover {
  background: rgb(223, 202, 132);
}
.start:hover {
  background: rgb(129, 224, 219);
}
