.alert-box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.alert-content {
  background-color: rgb(10, 220, 210);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.alert-content p {
  margin: 0 0 20px;
  font-size: 18px;
}

.alert-content button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(164, 163, 160);
}

.alert-content button:hover {
  background-color: #ddd;
}
